<!DOCTYPE html>
<html>

	<head>
		<title>报价</title>
		<script src="../../js/common/head.js"></script>
		<style>
			.layui-form-label {
				width: 100px;
			}
		</style>
		<script src="../../lib/vue/vue.js"></script>
		<script src="../../js/common/until.js"></script>
		<script src="../../lib/moment/moment.js"></script>
		<script src="../../lib/moment/zh.js"></script>
		<script src="../../lib/jquery/jQuery.print.min.js"></script>
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space1">
				<div class="layui-col-md12">
					<div class="layui-row grid-demo">
						<div class="layui-col-md3">
							<div class="layui-btn-group">
								<button class="layui-btn" id="add"><i class="layui-icon">&#xe654;</i>增加</button>
								<button class="layui-btn"  id="excel"><i class="iconfont">&#xe600;</i>导出</button>
								<button class="layui-btn" id="printer"><i class="iconfont">&#xe639;</i>打印</button>
							</div>
						</div>
						<div class="layui-col-md12" id="print-area">
							<table class="layui-table" id="lay-table">
								<thead>
									<tr>
										<th>#</th>
										<th>日期</th>
										<th>图号/名称</th>
										<th>单价</th>
										<th>数量</th>
										<th>小计</th>
										<th>重量</th>
										<th>含税价</th>
										<th>销售价</th>
										<th>报价人</th>
										<th>备注</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in list">
										<td>{{index+1}}</td>
										<td>{{item.date}}</td>
										<td>{{item.name}}</td>
										<td>{{item.collectUnitPrice}}</td>
										<td>{{item.numbers}}</td>
										<td>{{item.subtotal}}</td>
										<td>{{item.weight}}</td>
										<td>{{item.taxPrice}}</td>
										<td>{{item.salePrice}}</td>
										<td>{{item.user}}</td>
										<td>{{item.remark}}</td>
									</tr>
									<tr v-if="list.length <=0">
										<td colspan="11" align="center">暂无数据</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

			</div>
		</div>
		<script src="script/offer.js"></script>
	</body>

</html>