<!DOCTYPE html>
<html>

	<head>
		<title>报价</title>
		<script src="../../js/common/head.js"></script>
		<style>
			.layui-form-label {
				width: 100px;
			}
		</style>
		<script src="../../lib/vue/vue.js"></script>
		<script src="../../js/common/until.js"></script>
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space1">
				<div class="layui-col-md12">
					<div class="layui-row grid-demo">
						<div class="layui-col-md3">
							<div class="layui-btn-group">
								<button class="layui-btn" id="add"><i class="layui-icon">&#xe654;</i>增加</button>
								<button class="layui-btn" function="top" topUrl="/view/offer/edit.html" topMode="add" topWidth="1200px" topHeight="600px" topTitle="新增demo"><i class="iconfont">&#xe600;</i>导出</button>
								<button class="layui-btn"><i class="iconfont">&#xe639;</i>打印</button>
							</div>
						</div>
						<div class="layui-col-md12">
							<table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid"></table>
							<div class="fsDatagridCols">
								<p type="numbers" title="#" />
								<p field="name" title="日期" width="150" sort="true" />
								<p field="type" title="图号/名称" width="150" />
								<p field="city" title="单价" width="100" />
								<p field="sex" title="数量" width="100" />
								<p field="state" title="小计" width="100" />
								<p field="area1" title="重量" width="100" />
								<p field="createdTime" title="含税价" width="100" />
								<p field="modifiedTime" title="销售价" width="100" />
								<p field="modifiedTime" title="报价人" width="120" />
								<p field="modifiedTime" title="备注" width="180" />
								<p fixed="right" align="center" toolbar="#barDemo" title="操作" width="180" />
							</div>
							<script type="text/html" id="barDemo">
								<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="top" topUrl="views/datagrid2/one.html" topMode="readonly" topWidth="800px" topHeight="600px" topTitle="查看demo" inputs="id:">查看</a>
								<a class="layui-btn layui-btn-xs" lay-event="top" topUrl="views/datagrid2/one.html" topMode="edit" topWidth="800px" topHeight="600px" topTitle="编辑demo" inputs="id:">编辑</a>
								<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit" url="/fsbus/1002" isConfirm="1" confirmMsg="是否确定删除当前记录？" inputs="id:">删除</a>
							</script>
						</div>
					</div>

				</div>

			</div>
		</div>
		<script src="script/offer.js"></script>
	</body>

</html>