<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/javascripts/common/head.js"></script>
		<style>
			.layui-form-label {
				width: 100px;
			}
		</style>
		<script src="/lib/vue/vue.js"></script>
		<script src="/javascripts/common/until.js"></script>
	</head>

	<body>
		<div id="edit">
			<div style="height: 15px;"></div>
			<!--添加-->
			<form class="layui-form" id="vue-edit">
				<div class="layui-form-item">
					<label class="layui-form-label">图号/名称</label>
					<div class="layui-input-inline">
						<input lay-verify="required" type="text" v-model="paramModel.name" placeholder="请输入图号/名称" class="layui-input">
					</div>
					<label class="layui-form-label">材料材质</label>
					<div class="layui-input-inline">
						<select name="interest" lay-search lay-filter="texture">
							<option v-for="option in textureList" v-bind:value="option.id">{{option.name}}</option>
						</select>
					</div>
					<div class="layui-form-mid layui-word-aux">单价:{{paramModel.materialUnitPrice}}</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">材料厚度</label>
					<div class="layui-input-inline">
						<select name="interest" lay-filter="thickness" v-model="paramModel.materialThickness">
							<option v-for="option in thicknessList" v-bind:value="option">{{option}}</option>
						</select>
					</div>
					<label class="layui-form-label">材料规格</label>
					<div class="layui-input-inline" style="width: 90px;">
						<input lay-verify="required|number" type="text" v-model="paramModel.materialLength" placeholder="请输入长" style="width: 90px;" class="layui-input">
					</div>
					<div class="layui-input-inline" style="width: 90px;">
						<input lay-verify="required|number" type="text" v-model="paramModel.materialWidth" placeholder="请输入宽" style="width: 90px;" class="layui-input">
					</div>
					<label class="layui-form-label">材料价格</label>
					<div class="layui-input-inline">
						<input type="text" v-bind:value="materialPrice" readonly="readonly" disabled="disabled" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">

				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">穿孔数量</label>
					<div class="layui-input-inline">
						<input lay-verify="required|number" type="text" v-model="paramModel.borenumbers" placeholder="请输入激光穿孔数量" class="layui-input">
					</div>
					<label class="layui-form-label">切割长度</label>
					<div class="layui-input-inline">
						<input lay-verify="required|number" type="text" v-model="paramModel.cutLength" placeholder="请输入激光切割长度" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">穿孔单价</label>
					<div class="layui-input-inline">
						<input type="text" v-bind:value="boreUnitPrice" readonly="readonly" disabled="disabled" class="layui-input">
					</div>
					<label class="layui-form-label">切割单价</label>
					<div class="layui-input-inline">
						<input type="text" v-bind:value="cutUnitPrice" disabled="disabled" readonly="readonly" class="layui-input">
					</div>
					<label class="layui-form-label">激光价格</label>
					<div class="layui-input-inline">
						<input type="text" v-bind:value="laserPrice" readonly="readonly" disabled="disabled" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">折弯</label>
					<div class="layui-input-inline">
						<input lay-verify="required|number" type="text" v-model="paramModel.bend" placeholder="请输入折弯" class="layui-input">
					</div>
					<label class="layui-form-label">焊接</label>
					<div class="layui-input-inline">
						<input lay-verify="required|number" type="text" v-model="paramModel.weld" placeholder="请输入焊接" class="layui-input">
					</div>
					<label class="layui-form-label">机加工</label>
					<div class="layui-input-inline">
						<input lay-verify="required|number" type="text" v-model="paramModel.machining" placeholder="请输入机加工" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">表面处理</label>
					<div class="layui-input-inline">
						<select lay-search lay-filter="surface" v-model="paramModel.surfaceId">
							<option v-for="option in surfaceList" v-bind:value="option.id">{{option.name}}</option>
						</select>
					</div>
					<label class="layui-form-label">价格</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-bind:value="surfacePrice" v-model="paramModel.surfacePrice" placeholder="请输入表面处理价格" class="layui-input">
					</div>
					<label class="layui-form-label">阔孔/压铆/攻牙</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-model="paramModel.enlargeOr3" placeholder="请输入阔孔/压铆/攻牙" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">包装材料</label>
					<div class="layui-input-inline">
						<select name="interest" lay-search lay-filter="pack" v-model="paramModel.pack">
							<option v-for="option in packList" v-bind:value="option">{{option}}</option>
						</select>
					</div>
					<label class="layui-form-label">包装价格</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-model="paramModel.packUnitPrice" placeholder="请输入包装价格" class="layui-input">
					</div>
					<label class="layui-form-label">物流公司</label>
					<div class="layui-input-inline">
						<input type="text" v-model="paramModel.logisticsCompany" placeholder="请输入物流公司" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">运费</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-model="paramModel.freight" placeholder="请输入运费" class="layui-input">
					</div>
					<label class="layui-form-label">单价</label>
					<div class="layui-input-inline">
						<input type="text" v-bind:value="collectUnitPrice" readonly="readonly" disabled="disabled" class="layui-input">
					</div>
					<label class="layui-form-label">数量</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-model="paramModel.numbers" placeholder="请输入总数量" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">小计:{{subtotal}}</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">含税价</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-model="paramModel.taxPrice" placeholder="请输入含税价" class="layui-input">
					</div>
					<label class="layui-form-label">销售价</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required|number" v-model="paramModel.salePrice" placeholder="请输入销售价" class="layui-input">
					</div>
					<label class="layui-form-label">报价人</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required" v-model="paramModel.user" placeholder="请输入报价人" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">重量</label>
					<div class="layui-input-inline">
						<input type="text" v-bind:value="weight" readonly="readonly" disabled="disabled" class="layui-input">
					</div>
					<label class="layui-form-label">备注</label>
					<div class="layui-input-inline">
						<textarea rows="400" style="width: 250px;height:50px;" cols="80" v-model="paramModel.remark" placeholder="请输入备注" class="layui-input"></textarea>
					</div>
					<label class="layui-form-label"></label>
					<div class="layui-input-block">
						<button class="layui-btn layui-center" lay-submit lay-filter="save">立即保存</button>
					</div>
				</div>
				<div class="layui-form-item">
					
				</div>
				<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
			</form>
		</div>
		<script src="script/edit.js"></script>
	</body>

</html>